<style>
h1{
     color: black;
     text-align: center;
     /* font-size: 20px; */
} 

h2{
     color: black;
     text-align: center;
     /* font-size: 20px; */
} 

h3{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    color: black;
    text-align: center;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

</style>

<h1>NOOR COFFEE BEANS</h1>
<h2> COFFEE BAR </h2> 

<h3> We love coffee. Coffee bean is fascinating. <br>
     There is nothing that simple and yet that difficult <br>
     at the same time. Coffee is a multicultural phenomenon, <br>
     a language understandable by most people on earth. <br>
     Coffee is a good with a very complex character, <br>
     multi-faceted, unpredictable. Coffee opens up only <br>
     to those who devote to it a lot of time and energy, <br>
     those who ponder over it and admire it.
</h3>

<h4> 
     <br>
     <br>
     <br>
     Opening Hours <br>
     Sunday 9:00 am - 5:00 pm <br>
     Monday 9:00 am - 5:00 pm <br>
     Tuesday 9:00 am - 5:00 pm <br>
     Wednesday 9:00 am - 5:00 pm <br>
     Thursday 9:00 am - 5:00 pm <br>
     Friday Closed<br>
     Saturday closed
</h4>