<h2>Hello, <%= user.email%> :)</h2>

<p1> Welcome to Noor Coffee Beans <br> </p1>

<p2> We hope you find what you're looking <br> 
     for and that you enjoy your stay
</p2>

<style>

    body{
        text-align: center;
        background-color: beige;
    }

    p1 {
        font-family: 'Barlow Condensed', sans-serif;        text-align: center;
        color:  rgb(121, 46, 16) ;
        font-size: 30px;
    }

    p2 {
        font-family: 'Barlow Condensed', sans-serif;        text-align: center;
        color:  rgb(121, 46, 16) ;
        font-size: 30px;
    } 

  h2 {
    font-family: 'Barlow Condensed', sans-serif;        text-align: center;
        color:  rgb(121, 46, 16) ;
    }

</style>